im.wsdl

<?xml version="1.0" ?>
<!--This document was generated using 'DFHLS2WS' at mapping level '4.1'. -->
<definitions targetNamespace="http://www.TSIM2001.IMCASHDL.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:reqns="http://www.TSIM2001.IMCASHDL.Request.com" xmlns:resns="http://www.TSIM2001.IMCASHOB.Response.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.TSIM2001.IMCASHDL.com">
   <types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.TSIM2001.IMCASHDL.Request.com" xmlns:tns="http://www.TSIM2001.IMCASHDL.Request.com">
         <xsd:annotation>
            <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
         </xsd:annotation>
         <xsd:annotation>
            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.mappingLevel=4.1</xsd:appinfo>
         </xsd:annotation>
         <xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
            <xsd:sequence>
               <xsd:element name="dlr_record" nillable="false">
                  <xsd:complexType mixed="false">
                     <xsd:sequence>
                        <xsd:element name="dlr_transaction" nillable="false">
                           <xsd:complexType mixed="false">
                              <xsd:sequence>
                                 <xsd:element name="dlr_ctl_key" nillable="false">
                                    <xsd:complexType mixed="false">
                                       <xsd:sequence>
                                          <xsd:element name="dlr_control_2" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="3"/>
                                                   <xsd:whiteSpace value="collapse"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="dlr_account" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="14"/>
                                                   <xsd:whiteSpace value="collapse"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                       </xsd:sequence>
                                    </xsd:complexType>
                                 </xsd:element>
                                 <xsd:element name="dlr_tran_code" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="2"/>
                                          <xsd:whiteSpace value="collapse"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="dlr_trace" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:unsignedInt">
                                          <xsd:maxInclusive value="9999999"/>
                                          <xsd:minInclusive value="0"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="dlr_80_tran" nillable="false">
                                    <xsd:complexType mixed="false">
                                       <xsd:sequence>
                                          <xsd:element name="dlr_80_82_83_user_code" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="4"/>
                                                   <xsd:whiteSpace value="collapse"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="dlr_80_82_83_drcr_amt" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.decimal=zoned</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:decimal">
                                                   <xsd:totalDigits value="13"/>
                                                   <xsd:fractionDigits value="2"/>
                                                   <xsd:minInclusive value="0"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="dlr_80_check_no" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:unsignedLong">
                                                   <xsd:maxInclusive value="9999999999"/>
                                                   <xsd:minInclusive value="0"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="dlr_80_desc" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="3"/>
                                                   <xsd:whiteSpace value="collapse"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="dlr_80_bai_code" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="5"/>
                                                   <xsd:whiteSpace value="collapse"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="dlr_80_82_83_tran_flag" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="1"/>
                                                   <xsd:whiteSpace value="collapse"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                       </xsd:sequence>
                                    </xsd:complexType>
                                 </xsd:element>
                                 <xsd:element name="dlr_source_info" nillable="false">
                                    <xsd:complexType mixed="false">
                                       <xsd:sequence>
                                          <xsd:element name="dlr_suspect_debit" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="1"/>
                                                   <xsd:whiteSpace value="collapse"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="dlr_pico_tran_eti" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.decimal=packed</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:decimal">
                                                   <xsd:totalDigits value="15"/>
                                                   <xsd:fractionDigits value="0"/>
                                                   <xsd:minInclusive value="0"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="dlr_pico_tran_cc" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="3"/>
                                                   <xsd:whiteSpace value="collapse"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="dlr_date" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="8"/>
                                                   <xsd:whiteSpace value="collapse"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="dlr_time" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.decimal=packed</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:decimal">
                                                   <xsd:totalDigits value="7"/>
                                                   <xsd:fractionDigits value="0"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="dlr_ancillary_src" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:unsignedShort">
                                                   <xsd:maxInclusive value="999"/>
                                                   <xsd:minInclusive value="0"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                       </xsd:sequence>
                                    </xsd:complexType>
                                 </xsd:element>
                                 <xsd:element name="dlr_15_digit_ref_no" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.decimal=packed</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:decimal">
                                          <xsd:totalDigits value="15"/>
                                          <xsd:fractionDigits value="0"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="dlr_pay_ovr_ind" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1"/>
                                          <xsd:whiteSpace value="collapse"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="dlr_desc_tran" nillable="false">
                                    <xsd:complexType mixed="false">
                                       <xsd:sequence>
                                          <xsd:element name="dlr_seg_occurs" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="2"/>
                                                   <xsd:whiteSpace value="collapse"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element name="dlr_seg_length" nillable="false">
                                             <xsd:simpleType>
                                                <xsd:annotation>
                                                   <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                                </xsd:annotation>
                                                <xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="2"/>
                                                   <xsd:whiteSpace value="collapse"/>
                                                </xsd:restriction>
                                             </xsd:simpleType>
                                          </xsd:element>
                                          <xsd:element maxOccurs="10" minOccurs="10" name="dlr_univ_desc" nillable="false">
                                             <xsd:complexType mixed="false">
                                                <xsd:sequence>
                                                   <xsd:element name="dlr_desc_line" nillable="false">
                                                      <xsd:simpleType>
                                                         <xsd:annotation>
                                                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                                         </xsd:annotation>
                                                         <xsd:restriction base="xsd:string">
                                                            <xsd:maxLength value="60"/>
                                                            <xsd:whiteSpace value="collapse"/>
                                                         </xsd:restriction>
                                                      </xsd:simpleType>
                                                   </xsd:element>
                                                </xsd:sequence>
                                             </xsd:complexType>
                                          </xsd:element>
                                       </xsd:sequence>
                                    </xsd:complexType>
                                 </xsd:element>
                              </xsd:sequence>
                           </xsd:complexType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="TSIM2001Operation" nillable="false" type="tns:ProgramInterface"/>
      </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.TSIM2001.IMCASHOB.Response.com" xmlns:tns="http://www.TSIM2001.IMCASHOB.Response.com">
         <xsd:annotation>
            <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
         </xsd:annotation>
         <xsd:annotation>
            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.mappingLevel=4.1</xsd:appinfo>
         </xsd:annotation>
         <xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
            <xsd:sequence>
               <xsd:element name="cash_outbound_record" nillable="false">
                  <xsd:complexType mixed="false">
                     <xsd:sequence>
                        <xsd:element name="cash_ob_message" nillable="false">
                           <xsd:complexType mixed="false">
                              <xsd:sequence>
                                 <xsd:element name="cash_ob_return_text" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="30"/>
                                          <xsd:whiteSpace value="collapse"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="cash_ob_return_code" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="2"/>
                                          <xsd:whiteSpace value="collapse"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="cash_ob_bus_day_text" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="22"/>
                                          <xsd:whiteSpace value="collapse"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="cash_ob_txn_date" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.utf16be=false</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="8"/>
                                          <xsd:whiteSpace value="collapse"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                              </xsd:sequence>
                           </xsd:complexType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="TSIM2001OperationResponse" nillable="false" type="tns:ProgramInterface"/>
      </xsd:schema>
   </types>
   <message name="TSIM2001OperationResponse">
      <part element="resns:TSIM2001OperationResponse" name="ResponsePart"/>
   </message>
   <message name="TSIM2001OperationRequest">
      <part element="reqns:TSIM2001Operation" name="RequestPart"/>
   </message>
   <portType name="TSIM2001Port">
      <operation name="TSIM2001Operation">
         <input message="tns:TSIM2001OperationRequest" name="TSIM2001OperationRequest"/>
         <output message="tns:TSIM2001OperationResponse" name="TSIM2001OperationResponse"/>
      </operation>
   </portType>
   <binding name="TSIM2001HTTPSoapBinding" type="tns:TSIM2001Port">
      <!-- This soap:binding indicates the use of SOAP 1.1 -->
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="TSIM2001Operation">
         <soap:operation soapAction="" style="document"/>
         <input name="TSIM2001OperationRequest">
            <soap:body parts="RequestPart" use="literal"/>
         </input>
         <output name="TSIM2001OperationResponse">
            <soap:body parts="ResponsePart" use="literal"/>
         </output>
      </operation>
   </binding>
   <service name="TSIM2001Service">
      <port binding="tns:TSIM2001HTTPSoapBinding" name="TSIM2001Port">
         <!-- This soap:address indicates the location of the Web service over HTTP.
              Please replace "my-server" with the TCPIP host name of your CICS region.
              Please replace "my-port" with the port number of your CICS TCPIPSERVICE. -->
         <soap:address location="http://my-server:my-port/tax/Inquiry/update"/>
         <!-- This soap:address indicates the location of the Web service over HTTPS. -->
         <!-- <soap:address location="https://my-server:my-port/tax/Inquiry/update"/> -->
         <!-- This soap:address indicates the location of the Web service over WebSphere MQSeries.
              Please replace "my-queue" with the appropriate queue name. -->
         <!-- <soap:address location="jms:/queue?destination=my-queue&amp;connectionFactory=()&amp;targetService=/tax/Inquiry/update&amp;initialContextFactory=com.ibm.mq.jms.Nojndi" /> -->
      </port>
   </service>
</definitions>
